* {
    font-family: 'Mulish', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #131318;
    font-weight: 800;
    font-size: 36px;
}

.list-item {
    display: flex;
    gap: 44px;
    list-style: none;

}

.list-link {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-weight: 400;
    font-size: 18px;
}

.orange-text {
    color: #FF5400;
}

.banner-section {
    background-image: linear-gradient(#131318, #13131800), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.website-paragraph {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.banner-container {
    display: flex;
    justify-content: center;
}

.box {
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    l;
    font-weight: 400;
}

.button-color {
    background: #FF5400;
}

.tour-section {
    display: flex;
}

.tour-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.tour-text {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}